<head>
        <title>Greetings</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
</head>


<h1>GREETINGS WEB-APP</h1>
<h3>Greeted names</h3>
<ul>
        {{#each subjects}}
        <li>{{this}}</li>
        {{/each}}


</ul>

<p><a href="/subjects">Home page</a></p>
