<head>
        <link rel="stylesheet" href="/style.css">

</head>

<body>
        <div class="">
                <p>{{count}}</p>
        </div>
<br><br>
<p><a href="/greets/greeted">go back to greeted people</a></p>
        <p><a href="/greets">Home page</a></p>

</body>
