<head>
        <title>Greetings</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
</head>

<h6>Greeted names</h6>
        <!-- <div class="resetMyData">
<form  action="/clear" method="post" align="center" >
                <input type="submit" name="" value="Reset">
</form>
</div> -->
<ul>
        {{#each greets}}
        <li><a href="/counter/{{this._id}}">{{this.nym}}</a></li>
        {{/each}}

</ul>
<p><a href="/greets">Home page</a></p>
