<head>
        <title>Greetings</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
</head>


<h1>GREETINGS WEB APPLICATION</h1>
<h3>Greeted names</h3>
<ul>
        {{#each greets}}
        <li>{{nym}}</li>
        {{/each}}


</ul>

<p><a href="/greets">Home page</a></p>
