<head>
        <title>Home</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
</head>

<h1>GREETINGS WEB APPLICATION</h1>
<form class="lang" action="/greets" method="post">
        <div class="formBox">
<b>Name:</b> <input type="text" name="name"  placeholder="Type a name here" required="" class="textbox">
<input type="submit" name="" value="Greet"><br><br>
<input type="radio" name="language" value="IsiXhosa"><b>IsiXhosa </b>
<input type="radio" name="language" value="English"> <b>English</b>
<input type="radio" name="language" value="Afrikaans"> <b>Afrikaans</b><br><br>
<!-- <input type="submit" name="" value="Clear"><br><br><br><br> -->
<a href="/greets/greeted">greets</a>
<h2>{{name}}</h2>
<h2>{{counter}}</h2>
</div>

</form>

<div class="error">
        {{messages.error}}
</div>
