body{
        background-color: lavender;
        margin: 50px;
}
ul{
        list-style: none;
}
.error{
        color: red;
}

h1{
        text-align: center;
}

/*.lang{
        cursor: pointer;
}*/
