body{
        margin: 50px;
        background-image: url(handshakeBackground.jpg);
        background-size: cover;
        background-attachment: fixed;
}
ul{
        list-style: none;
        text-align: center;
        font-size: 45px;
        text-shadow: 1px 1px 2px black, 0 0 25px darksalmon, 0 0 5px blue;

}
.error{
        color: red;
}

h1{
        font-family: 'Gochi Hand', border-style: inset;
        padding: 1%;
        padding-bottom: 2px;
        font-size: 70px;
        height: 100px;
        font-weight: bolder;
        margin: auto;
        text-align: center;
        text-shadow: 1px 1px 2px black, 0 0 25px darksalmon, 0 0 5px blue;
}
h3{
        text-align: center;
        font-size: 30px;
        background-color: darksalmon;
        height: 34px;
        border-radius: 50px;
        text-shadow: 1px 1px 2px black, 0 0 25px darksalmon, 0 0 5px blue;
}
h2{
        text-shadow: 1px 1px 2px black, 0 0 25px darksalmon, 0 0 5px blue;
}
h6{
        font-size: 75px;
        text-align: center;
        text-shadow: 1px 1px 2px black, 0 0 25px darksalmon, 0 0 5px blue;

}

p{
        text-align: center;
        font-size: 10px;
}
a{
        font-size: 30px;
        text-align: center;
}

.formBox{
        position: relative;
        left: -5em;
        text-align: center;
        background-color: darksalmon;
}
.error{
        text-align: center;
        font-size: 25px;
}

.lang{
        font-style: oblique;
               width: 40%;
               height: 20px;
               padding-top: 5%;
               padding-left: 20%;
               margin: auto;
               font-size: 30px;
}


#greetBtn {
        width: 30%;
        height: 30px;
        font-size: 20px;
        background-size: cover;
        background-color: lightgray;
        border-radius: 50px;
        font-weight: bold;
        font-style: oblique;
        cursor: pointer;
        text-shadow: 1px 1px 2px black, 0 0 25px darksalmon, 0 0 5px blue;

}

.textBox{
        background-color: lightgray;
        top: -2em;
        text-align: center;
        width: 40%;
        height: 30px;
        text-shadow: 1px 1px 2px black, 0 0 25px darksalmon, 0 0 5px blue;
        font-size: 15px;
        border-radius: 30px;

}
label{
        text-shadow: 1px 1px 2px black, 0 0 25px darksalmon, 0 0 5px blue;

}
